* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Consolas";
}

a {
  text-decoration: none;
}

.clear {
  clear: left;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
  color: #FF0000;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(https://www.wallpapertip.com/wmimgs/110-1102845_omen-wallpaper-valorant-4k.jpg);
  background-size: cover;
  font-color: #FFFFFF;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper p {
  opacity: 0.8;
  margin-bottom: 7px;
}

.btn-wrapper {
  text-align: center;
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.signup {
  background-color: #239b76;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
  text-align: center;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  background-color: #800000;
  position :fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 124px;
  margin-top: 20px;
}

.header-left {
  float: left;
}

.header-right {
  float: right;
  margin-right: -25px;
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: block;
  float: left;
  transition: all 0.5s;
}

.header-right a:hover {
  background-color: rgba(255, 255, 255, 0.3);
}

.menu-icon{
  color: white;
  float: right;
  font-size: 25px;
  padding: 21px 0;
  display: none;
}

.lesson-wrapper {
  padding-bottom: 80px;
  padding-left: 5%;
  padding-right: 5%;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAABLAAAAJFCAMAAAD6cP5tAAAAV1BMVEUAAAAPGSMPGSMPGSMPGSMPGSMPGSMPGSMPGSMPGSMPGSMPGSMPGSMPGSMPGSMPGSMPGSMPGSMPGSMPGSMPGSMPGSMPGSMPGSMPGSMPGSMPGSMPGSMPGSPpoC+1AAAAHXRSTlMAkQ4DFgYSAWOBjApeHIZtI3JFMHlYPig3ZyxMU14j39cAAAjnSURBVHja7MGBAAAAAICg/akXqQIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAYPbsIDdhGIgC6CTGBJQ0EGSoEL3/OdtuTKlaVSxQIvreblbefXnmAwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA/CX1OcVDpZy7m/e6mEEXS9XlPsfV5wT87FTKPh7qUso6qkMpLzGDtNjEyucyRJU2ZSOx4BeXpnmNhxqaZhXVsWn2MYNusYHVj02JKm2brcCCf/7DWi4/LLjjwvTYZam+UKflLmczSTl9mwAAAJ7FYdqtozpNu1XwRR6mY1RpmAY3LLjP07WEy6UlhAV5G7erqC7jVkt4I0/jOaq0G3cCC2bTt22KKretFuxG17d9XH1MalQAAAAAAAAAAAAAAAAAAAAAAAAA4J0de0ttGAaiADqK4odIG1fF7gNn/+ss9CMfgXwOxHDOBiSudGEYAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAOB11Foj1VTrFKlq9gnTY0jHeoH/E+CJQ9XltPQ9Uv30/h6pPnsfI9OYGtLW50tkGua+BaS71+UWWcZSfiPVXsp3pHor5RyZzqkhreV6ikyXa1kDnjpQXU5ru0Wqr9Y+ItXe1uQJKzWkuS3JE9bS5oB097pskWWqQ41UdRiyd1jD4w7rUCEd/PrgvwEAAAAAAAAAAAAAAAAAAAAAAAAAAPDHfh3kIAgEQRRtYUDDgHGhRBPvf04XJn0CZjHkvRvU5icFAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAcIx5uwZAF7YSAH0oUwD0YfYIgV4MAXCIWtI8Rgs1WhtKUkc4s/eSnjVamKK115LWAM5rv6R7jRbGaG29pE8A5/VY03eKv96Ctd9ywx4AAAAAAAAAAAAAAAAAAAAAAADAj506SkEQiAIo+rTRikwoSJto/+vsIxsXkCAD5+zg/lwAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAPhbl/pF6o9Rp3ZtaAPY1aFP/U8XG3uOxe0SdXqPxRDArtJ5LObY2NQUY63DGpoiB7Cr1KxesbE559NXfnRRpymfFvkewK7aoTwlXwMAAAAAAAAAAAAAAADgw04drTQMBFEAnY2bKo2hJaFpG/z/7xRBFumTLrtC4Zy3eRmYy3ABAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAeFaHfT9EMexrjr5e8hCNzes+RpHXfYq2xus6/znYdR0qlr+UqW1A00NAUKHuo8/RzpbSFsWe0hJ9jZdbNPaeUo7iktI52srH9FYR7O8Ozenn8uGY7tEhoDmKj6+AoJf8/cPlo0/dCmvtX1jD6SkL6/5fhZUUFs8tp46FNS/LHEUuUy+vh1uOxq7LNkVxXrYh2pq2Za8INlcsH8vUNqDhISCoUPfRawAAAAAAAAAA8MlOneMgDANRAB2jsAhwAxIJ9v3vSRNFFCCqKYzeO8AvZvkAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADOrR2iMHVNu8j035uNVZjhb8NCL4Y6aKXUh6R7RiprqVMkWk6l1OsxgrfBlQDsm0X/YwsD4X121QSNzAVhcU/SX2X2nuNTwYqrNb7JTJdbv0eWXZreKJ777uAbNu7LAEAAAAv9u4gN2EYiAKoIXEoTVLcQGJIuP85i6oWdQWqVKkGveeFNdu/GM1qBgAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA+DNV/HxNUzWXf7Ou2ypeStfrgfK0wzL0Y7+cj8t+GuJ8Ok4XXR0AinPedfkwpf2U80sX2yGdxmU/TkYsoDwp5zTPdV8Pqc8x5jqlnIa5DwAAAAAAwO9s7gkAZYjd7o4AUIb2bXVHAChDfN/eFgAKsWnXtwUAAAAAAAAAAAAAAAAAAAAAAID/E9NVX4XHVOf0JVvtJCCeWfO6+nZow2MaV1fHgIB4Xj8a1lbDelKdgPhg725WGgbCMIx+E6dpaYohZSJqe//X6UrBheAmMD/nXMK7eEiYkOmEYA3AQPRCsAZgIHohWAMwEL0QrAEYiF4I1gAMRC8EawAGoheCNQAD0Ys5tR8snxn9e6CApk3r9u3SarDu24/P4M+BAgAAAAAAAAAAABjb8tzfonHv++5X5VCJ6cimzCl9RONuKeUAqpCPbMp8Tbdo3J6uggWVyK/pEkd5ybn516kp51ZvKIPu9NAUAICBTGt5ROPuZZsDqMK8lmf85pTQKSHUKae0xlGmUp7RuEcpnrCgEvNW9jjKeVlO0bjTspwDqML51H5TAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAA4Is9OBAAAAAAAPJ/bQRVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVVWHXjrESBqIwjL6JQAhxUAxIjOx/nWJBaMbCAkg49y7hFd95xQ8AAAAAAM9g2Y2GZVDWdqPjSwAPUm3SxbYKynIaNbIO91UOViNYf8nXK+19WPAw1VawBAtmQrAEC2ZDsAQLZkOwphGsuq4DEKxZBCv33XDMebHI76sABGvKwfpumv3u7ets1wcgWFMO1imdbX6lzwDKqmQ4+r/h6G2CdUijjwDK2tf1xaENylbXK51uE6x+PRoCAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAgJ926iA3YSAIgOCMY6MI4gBrhZX8/4dGXLkPK+SqH/SlAQAAAAAAAAAAABht3ftXMNrU+xylLn1fo9Tc+yUqLc8Eju2a5ykYbctsUWrN/IlSf5m3qHT6zWtwbPdMwxrvLcP6jhefNqxz3oNj29pjCUabW7tFqam1PUr11k5RaXm0LQAAAAAAAAAAAAA4pH/b8UfL6fyAgwAAAABJRU5ErkJggg==);
  background-size: cover;
  text-align: center;
}

.heading {
  padding-top: 80px;
  padding-bottom: 50px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.lesson {
  float: left;
  width: 25%;
}

.lesson-icon {
  position: relative;
}

.lesson-icon p {
  position: relative;
  width: 100%;
  color: white;
}

.text-contents {
  width: 80%;
  display: inline-block;
  margin-top: 15px;
  font-size: 15px;
  color: #b3aeb5;
}

.message {
  padding: 15px 40px;
  background-color: #FF0000;
  cursor: pointer;
  box-shadow: 0 7px #800000;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}


.heading h3 {
  font-weight: normal;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: #FF0000;
  cursor: pointer;
  box-shadow: 0 7px #800000;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

footer img {
  width: 125px;
}

footer p {
  color: #FFFFFF;
  font-size: 12px;
}

footer {
  padding-top: 30px;
  padding-bottom: 20px;
}
